<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="Autorin" content="Frances Knöpfel"/>
      <meta name="Modul" content="Einführung Programmierung 2"/>

    <title>Filmzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename ='main.css') }}"/>
  </head>
  <body>

<h1>FILMZER</h1>
    
<h2>Was für eine Art Film möchtest du heute schauen?</h2><hr>
                     
<h4> Auf einer Skala von 1 bis 10, wie lustig soll der Film sein?</h4>
<div class="eingabelustig"> 
    <input type="zahl" class="form-control" user_funny="user_funny" placeholder="Hier kannst du eine Zahl zwischen 1 und 10 eingeben">
    <div class="" style="padding:10px">
        <a href="{% url 'happy'%}"><button  type="button" class="btn btn-outline-primary">Lustig</button></a>
    </div>
      </div>
     
<h4> Auf einer Skala von 1 bis 10, wie traurig soll der Film sein?</h4>
<div class="eingabetraurig"> 
    <input type="zahl" class="form-control" user_traurig="user_traurig" placeholder="Hier kannst du eine Zahl zwischen 1 und 10 eingeben">
                   <div class="" style="padding:10px">
                   <a href="{% url 'sad'%}"><button type="button" class="btn btn-outline-danger">Traurig</button></a>
               </div>

     </div>
    
<h4> Auf einer Skala von 1 bis 10, wie angespannt willst du sein?</h4>
    <div class="eingabespannung">
    <input type="zahl" class="form-control"
           user_spannend="user_spannend" placeholder="Hier kannst du eine Zahl zwischen 1 und 10 eingeben">
        <div class="" style="padding:10px">
                   <a href="{% url 'sad'%}"><button type="button" class="btn btn-outline-danger">Enter</button></a>
               </div>
        </div>


        <button onclick="eingabe.html ='default.asp'" ><a href="resultat.html"> </a> Zu deinem Resultat</button>
         </div>

  </body>
</html>
