body {
    background-color: white;
    background-size:;
    background-repeat: repeat-y;
    background-size: 100%;
    max-width: 1000px;
    margin: auto;
}
/* Navigation */
.nav li {
    list-style-type: none;
    display: inline;
}

.nav {
    font-size: 20px;
    color: black;
    overflow: hidden;
    opacity: 0.8;
    box-shadow: 10px 10px 10px grey;
    width: 100%;
}

a {
    text-decoration: none;
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 16.667%;
}

a:hover {
    background-color:#EBEEF2;
    opacity: 0.6;
    color:black;
}


header {
text-align: center;
font-size: 50px;
}

h1 {
text-align: center;
font-color: grey;
}

h3 {
}

h4 {
}

footer {
text-align: center;
font-size: 10px;
}

.button {
width: 50px;
}