h1 {
    text-align: center;
    font-size: 50p; 
}
h2 {
    font: 40p;
    text-align: center;
}

h3 {
    text-align: center;  
    
}

h4{
    font-size: 30p;
    color:aqua;
    
}

button {
    
}
.eingabelustig {
    
}
.eingabetraurig{
    
}

.eingabespannung{
}
